cffi==1.14.0
JACK-Client==0.5.2
luma.core==1.14.0
luma.oled==3.5.0
Pillow==10.0.1
psutil==5.7.2
pycparser==2.20
pyftdi==0.51.2
pyserial==3.4
pyusb==1.0.2
RPi.GPIO==0.7.0
smbus2==0.3.0
spidev==3.5
configparser==5.0.0
pytest==5.4.3
